@keyframes loader {
	0%{opacity: 1;

	}
	90% {opacity: 0.9;

    } 
    
    100%{ opacity: 0;
	}
}
@keyframes anim {
	50%{
		filter: blur(2px);
	}
	90%, 100%{ 
		transform: rotate(1turn);
		filter: blur(0);
	}
}
@keyframes menu {
    0% {
        opacity: 0;
        height: 300px;
    }
    50% {
        opacity: 0.5;
        height: 243px;
    }
    100% {opacity: 1;
        height: 243px;
    }
}

@keyframes heart {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75%,100% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
    
}