%icon_heart{
    cursor:pointer;
    color: #000;
    font-size: 28px;
    transition: all 1s;
    &::before {opacity:1;transition:opacity .2s;
    }
    &::after {
        position:absolute;
        left:0;
        content: "\f004";
        opacity:0;
        font-weight: 700;
        color: $colour-secondary;
        background: linear-gradient($colour-secondary, $colour-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition:opacity .4s;
    }
    &:hover {
        &::before{opacity:0;}
        &::after{opacity:1;}
    }
}