@import url("https://fonts.googleapis.com/css?family=Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/*@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";*/
@import url("https://fonts.googleapis.com/css?family=Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Roboto");
a,
ul {
  list-style-type: none;
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

h4 {
  font-family: "Shrikhand", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* HEADER */
  /* NAV */
  /* SECTION 2 */
  /*FOOTER*/
}
body .headerHome {
  box-shadow: 0 0 10px 1px #808080;
  position: relative;
}
body .headerHome > a > img {
  height: 50px;
  margin: 40px 0 15px 31%;
}
@media screen and (min-width: 992px) {
  body .headerHome > a > img {
    margin-left: 37%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body .headerHome > a > img {
    margin-left: 35%;
  }
}
body .nav {
  /* SECTION 1 */
}
body .nav__form {
  text-align: center;
  background: #ccc;
  padding: 1.5em 0;
  padding-left: 85px;
}
body .nav__form .form__i {
  font-size: xx-large;
}
body .nav__form .form__input {
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 5px;
}
body .nav__section {
  text-align: center;
  background: #f6f6f6;
  padding: 1px 0 55px;
}
body .nav__section .reservation__h1 {
  font-weight: bold;
  font-size: 3em;
  margin-top: 65px;
  margin-bottom: 30px;
  line-height: 1em;
}
body .nav__section .reservation__p {
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
  line-height: 1.5em;
}
body .nav__section .reservation__button {
  padding: 15px 20px;
  border-radius: 50px;
  margin-top: 35px;
  background: linear-gradient(to left, #9356dc, #ff79da);
  border: none;
  color: white;
  font-size: medium;
}
body .nav__section .reservation__button:hover {
  cursor: pointer;
}
body .mainHome {
  border-radius: 25px 25px 0 0;
  margin-top: -30px;
  /* SECTION 3 */
}
body .mainHome__sectionFunctioning {
  position: relative;
  bottom: 0px;
}
body .mainHome__sectionFunctioning .functioning__h2 {
  margin: 110px 20px 50px 50px;
  font-size: 2.2em;
}
@media screen and (min-width: 992px) {
  body .mainHome__sectionFunctioning .functioning__h2 {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body .mainHome__sectionFunctioning .functioning__h2 {
    margin-top: 115px;
    margin-bottom: 0;
  }
}
body .mainHome__sectionFunctioning .functioning__ul {
  padding: 0 20px;
}
@media screen and (min-width: 992px) {
  body .mainHome__sectionFunctioning .functioning__ul {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body .mainHome__sectionFunctioning .functioning__ul {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
  }
}
body .mainHome__sectionFunctioning .functioning__ul > li {
  margin: 40px 0;
  margin: 40px 0;
  border-radius: 20px;
  background: #f6f6f6;
  margin-left: 15px;
  padding: 20px;
  box-shadow: 2px 2px 15px 2px #ccc;
}
@media screen and (min-width: 992px) {
  body .mainHome__sectionFunctioning .functioning__ul > li {
    width: 30%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body .mainHome__sectionFunctioning .functioning__ul > li {
    width: 45%;
  }
}
body .mainHome__sectionFunctioning .functioning__ul > li > span {
  background: #9356dc;
  border-radius: 50px;
  padding: 5px 10px;
  position: relative;
  right: 35px;
  color: white;
  font-size: 1.2em;
  bottom: 10px;
}
@media screen and (min-width: 992px) {
  body .mainHome__sectionFunctioning .functioning__ul > li > span {
    font-size: 1.2em;
    position: relative;
    top: 0px;
    padding: 5px 11px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body .mainHome__sectionFunctioning .functioning__ul > li > span {
    font-size: 1.5em;
    padding: 3px 10px;
    bottom: -5px;
  }
}
body .mainHome__sectionFunctioning .functioning__ul > li > i {
  font-size: 2em;
}
@media screen and (min-width: 992px) {
  body .mainHome__sectionFunctioning .functioning__ul > li > i {
    font-size: 2em;
    position: relative;
    top: 5px;
    left: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body .mainHome__sectionFunctioning .functioning__ul > li > i {
    position: relative;
    right: 20px;
    top: 10px;
    font-size: 2em;
  }
}
body .mainHome__sectionFunctioning .functioning__ul > li > h3 {
  font-size: 1.6em;
  display: inline-block;
  margin-left: 45px;
}
@media screen and (min-width: 992px) {
  body .mainHome__sectionFunctioning .functioning__ul > li > h3 {
    font-size: 1em;
    position: relative;
    right: 10px;
    top: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body .mainHome__sectionFunctioning .functioning__ul > li > h3 {
    font-size: 1.2em;
    margin-left: unset;
    position: relative;
    bottom: -5px;
  }
}
body .mainHome__sectionFunctioning .functioning__ul > li:hover {
  cursor: pointer;
  background: #eaeaea;
  color: #9356dc;
}
body .mainHome__sectionFunctioning .functioning__ul > li:hover > h3 {
  color: #000;
}
body .mainHome__sectionRestaurants {
  background: #f6f6f6;
  padding: 138px 20px;
  margin-top: 120px;
  padding-bottom: 65px;
}
@media screen and (min-width: 992px) {
  body .mainHome__sectionRestaurants {
    padding-top: 90px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body .mainHome__sectionRestaurants {
    flex-flow: wrap;
    justify-content: space-between;
    padding-top: 90px;
  }
}
body .mainHome__sectionRestaurants .restaurants__h2 {
  position: absolute;
  margin-top: -50px;
  font-size: 2.2em;
}
@media screen and (min-width: 992px) {
  body .mainHome__sectionRestaurants .restaurants__h2 {
    position: absolute;
    margin-top: -30px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body .mainHome__sectionRestaurants .restaurants__h2 {
    position: absolute;
    margin-top: -50px;
  }
}
body .mainHome__sectionRestaurants .restaurants__ul {
  display: flex;
  flex-flow: column;
  margin-top: 55px;
  padding: 0;
}
@media screen and (min-width: 992px) {
  body .mainHome__sectionRestaurants .restaurants__ul {
    flex-flow: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body .mainHome__sectionRestaurants .restaurants__ul {
    width: 100%;
  }
}
body .mainHome__sectionRestaurants .restaurants__ul > .li {
  position: relative;
}
@media screen and (min-width: 992px) {
  body .mainHome__sectionRestaurants .restaurants__ul > .li {
    flex-basis: 50%;
    padding: 20px;
  }
}
body .mainHome__sectionRestaurants .restaurants__ul > .li > .span {
  position: absolute;
  background: #99e2d0;
  color: green;
  font-size: medium;
  padding: 4px 10px;
  font-weight: bold;
  right: 10px;
  top: 10px;
  border-radius: 2px;
}
@media screen and (min-width: 992px) {
  body .mainHome__sectionRestaurants .restaurants__ul > .li > .span {
    right: 30px;
    top: 5px;
  }
}
body .mainHome__sectionRestaurants .restaurants__ul > .li > .a {
  text-decoration: none;
}
body .mainHome__sectionRestaurants .restaurants__ul > .li > .a > .figure {
  background: white;
  margin: -10px 0;
  border-radius: 20px;
}
body .mainHome__sectionRestaurants .restaurants__ul > .li > .a > .figure > .img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
body .mainHome__sectionRestaurants .restaurants__ul > .li > .a > .figure > .figcaption {
  margin: 60px 0;
}
body .mainHome__sectionRestaurants .restaurants__ul > .li > .a > .figure > .figcaption > .h3 {
  margin-left: 20px;
  margin-bottom: -45px;
  color: #000000;
  font-size: 2em;
  position: relative;
  bottom: 40px;
}
body .mainHome__sectionRestaurants .restaurants__ul > .li > .a > .figure > .figcaption > .i {
  float: right;
  position: relative;
  bottom: 30px;
  right: 20px;
  font-size: 3em;
  font-weight: 100 !important;
  transition: font-weight 0.5s;
  color: gray;
}
body .mainHome__sectionRestaurants .restaurants__ul > .li > .a > .figure > .figcaption > .i:hover {
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900 !important;
}
body .mainHome__sectionRestaurants .restaurants__ul > .li > .a > .figure > .figcaption > .p {
  padding-bottom: 26px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 2em;
  color: #000000;
}
@media screen and (min-width: 992px) {
  body .mainHome__sectionRestaurants .restaurants__ul > .li > .a > .figure {
    margin: -30px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body .mainHome__sectionRestaurants .restaurants__ul > .li > .a > .figure {
    margin: -10px 0;
  }
}
body > .footerHome {
  background: #000;
  padding: 5px;
  margin-top: 0px;
}
body > .footerHome > h4 {
  font-family: "Shrikhand", sans-serif;
  font-size: 2.5em;
  font-weight: lighter;
  color: #ffffff;
  padding-left: 30px;
  margin-bottom: 20px;
  position: relative;
  top: -30px;
}
body > .footerHome > ul {
  list-style-type: none;
  margin-left: 30px;
  position: relative;
  bottom: 20px;
}
body > .footerHome > ul > li {
  font-size: 1.7em;
}
body > .footerHome > ul > li > a {
  display: flex;
  color: #ffffff;
  margin-bottom: 10px;
}
body > .footerHome > ul > li > a > i {
  font-size: 1.5em;
}
body > .footerHome > ul > li > a > p.utensils {
  padding-left: 27px;
  margin: 5px;
}
body > .footerHome > ul > li > a > p.hands {
  padding-left: 20px;
  margin: 0;
}
body > .footerHome > ul > li > a > p {
  margin: 0;
}

a {
  list-style-type: none;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* 1-  ******************************/
body > .mainMenu > section.desserts .menu__plat, body > .mainMenu > section.dish .menu__plat, body > .mainMenu .appetizer .menu__plat {
  display: inline-block;
  margin-left: 30px;
  font-size: 2em;
  border-bottom: 4px solid #99e2d0;
  padding: 3px;
  color: gray;
  margin-top: 20px;
  width: 85px;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.desserts .menu__plat, body > .mainMenu > section.dish .menu__plat, body > .mainMenu .appetizer .menu__plat {
    margin-left: 30px;
    margin-bottom: 105px;
  }
}

/*** 2- ******************************* ***
        ***********************************/
body {
  margin: 0;
  /* HEADER */
  /* IMG */
  /* MAIN */
  /* FOOTER */
}
body .headerMenu > a > i.fas.fa-arrow-left {
  color: #000000;
  font-size: 1.8em;
  position: relative;
  left: 40px;
  bottom: 35px;
}
body .headerMenu > a > img {
  height: 50px;
  margin-left: 180px;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  body .headerMenu > a > img {
    margin-left: 410px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body .headerMenu > a > img {
    margin-left: 315px;
  }
}
body > img {
  object-fit: cover;
  height: 500px;
  width: 100%;
}
body > .mainMenu {
  margin-bottom: -60px;
  padding-bottom: 135px;
  background: #f6f6f6;
  position: relative;
  border-radius: 50px 50px 0 0;
  margin-top: -105px;
  /* SECTION 1 */
  /* SECTION 2*/
  /* SECTION 3 */
}
@media screen and (min-width: 992px) {
  body > .mainMenu {
    display: flex;
    margin-top: -20px;
    padding-bottom: 310px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body > .mainMenu {
    margin-top: -240px;
  }
}
body > .mainMenu .heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 992px) {
  body > .mainMenu .heart {
    position: absolute;
    justify-content: flex-start;
  }
}
body > .mainMenu .heart__h1 {
  font-family: "Shrikhand";
  font-size: 3em;
  padding-top: 25px;
  margin-left: 35px;
}
body > .mainMenu .heart__i {
  margin-top: 15px;
  margin-right: 90px;
  font-size: 2.5em;
}
body > .mainMenu .heart__i:hover {
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900 !important;
}
@media screen and (min-width: 992px) {
  body > .mainMenu .heart__i {
    padding-left: 550px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body > .mainMenu .heart__i {
    margin-right: 105px;
  }
}
@media screen and (min-width: 992px) {
  body > .mainMenu .appetizer {
    width: 100%;
    margin-top: 160px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 992px) {
  body > .mainMenu .appetizer .menu {
    margin-top: 0;
  }
}
body > .mainMenu .appetizer .menu__p {
  width: 80px;
  display: inline-block;
  margin-left: 30px;
  font-size: 2em;
  border-bottom: 4px solid #99e2d0;
  padding: 3px;
  color: gray;
  margin-top: 20px;
}
body > .mainMenu .appetizer .menu__ul {
  position: relative;
  padding: 1px 1em;
  margin: -60px 10px;
  cursor: pointer;
  overflow: hidden;
  margin-top: -65px;
  cursor: pointer;
  overflow: hidden;
  cursor: pointer;
  overflow: hidden;
  margin-top: -40px;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  body > .mainMenu .appetizer .menu__ul {
    padding: 1px 0;
  }
}
body > .mainMenu .appetizer .menu__ul > li {
  background: #ffffff;
  height: 115px;
  border-radius: 20px;
  position: relative;
  padding-right: 30px;
}
@media screen and (min-width: 992px) {
  body > .mainMenu .appetizer .menu__ul > li {
    margin-top: 30px;
  }
}
body > .mainMenu .appetizer .menu__ul > li > h2 {
  font-size: 2em;
  position: relative;
  left: 15px;
  top: 10px;
  line-height: 1.7em;
}
@media screen and (min-width: 992px) {
  body > .mainMenu .appetizer .menu__ul > li > h2 {
    font-size: 1.1em;
    line-height: 2em;
    top: 20px;
  }
}
body > .mainMenu .appetizer .menu__ul > li > p {
  font-size: 2.5em;
  margin-top: -20px;
  margin-left: 15px;
  color: grey;
}
@media screen and (min-width: 992px) {
  body > .mainMenu .appetizer .menu__ul > li > p {
    font-size: 2.5em;
  }
}
body > .mainMenu .appetizer .menu__ul > li > p > span {
  display: inline-block;
  width: 88%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 30px;
  transition: width 0.5s;
}
@media screen and (min-width: 992px) {
  body > .mainMenu .appetizer .menu__ul > li > p > span {
    font-size: 0.32em;
    font-weight: bold;
    width: 89%;
    padding-top: 35px;
  }
}
body > .mainMenu .appetizer .menu__ul > li > p > b {
  position: relative;
  bottom: 5px;
  color: #000;
  font-size: 0.8em;
}
@media screen and (min-width: 992px) {
  body > .mainMenu .appetizer .menu__ul > li > p > b {
    font-size: 15px;
    left: 15px;
    bottom: 2px;
  }
}
body > .mainMenu .appetizer .menu__ul > li::before {
  content: "";
  width: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #99f2d0;
  transition: width 0.4s;
  border-radius: 0 20px 20px 0;
}
body > .mainMenu .appetizer .menu__ul > li::after {
  position: absolute;
  right: -10%;
  top: calc(40% - 0.5em);
  transform: rotate(0deg);
  background: white;
  color: #99f2d0;
  border-radius: 50px;
  padding: 0.4em;
  font-family: "Font Awesome 5 Pro";
  content: "\f00c";
  transition: right 0.4s, transform 0.8s;
}
@media screen and (min-width: 992px) {
  body > .mainMenu .appetizer .menu__ul > li::after {
    right: -8%;
  }
}
body > .mainMenu .appetizer .menu__ul > li:hover::before {
  width: 20%;
}
body > .mainMenu .appetizer .menu__ul > li:hover::after {
  right: 5%;
  transform: rotate(360deg);
}
body > .mainMenu .appetizer .menu__ul > li:hover > p > span {
  width: 70%;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.dish {
    width: 100%;
  }
}
body > .mainMenu > section.dish .menu {
  margin-top: -110px;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.dish .menu {
    margin-top: 0;
  }
}
body > .mainMenu > section.dish .menu__p {
  width: 80px;
  display: inline-block;
  margin-left: 30px;
  font-size: 2em;
  border-bottom: 4px solid #99e2d0;
  padding: 3px;
  color: gray;
  margin-top: 180px;
}
body > .mainMenu > section.dish .menu__ul {
  position: relative;
  padding: 1px 1em;
  margin: -60px 10px;
  cursor: pointer;
  overflow: hidden;
  margin-top: -40px;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.dish .menu__ul {
    padding: 1px 0;
  }
}
body > .mainMenu > section.dish .menu__ul > li {
  background: #ffffff;
  height: 115px;
  border-radius: 20px;
  position: relative;
  padding-right: 30px;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.dish .menu__ul > li {
    margin-top: 30px;
  }
}
body > .mainMenu > section.dish .menu__ul > li > h2 {
  font-size: 2em;
  position: relative;
  left: 15px;
  top: 10px;
  line-height: 1.7em;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.dish .menu__ul > li > h2 {
    font-size: 1.1em;
    line-height: 2em;
    top: 20px;
  }
}
body > .mainMenu > section.dish .menu__ul > li > p {
  font-size: 2.5em;
  margin-top: -20px;
  margin-left: 15px;
  color: grey;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.dish .menu__ul > li > p {
    font-size: 2.5em;
  }
}
body > .mainMenu > section.dish .menu__ul > li > p > span {
  display: inline-block;
  width: 88%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 30px;
  transition: width 0.5s;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.dish .menu__ul > li > p > span {
    font-size: 0.32em;
    font-weight: bold;
    width: 89%;
    padding-top: 35px;
  }
}
body > .mainMenu > section.dish .menu__ul > li > p > b {
  position: relative;
  bottom: 5px;
  color: #000;
  font-size: 0.8em;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.dish .menu__ul > li > p > b {
    font-size: 15px;
    left: 15px;
    bottom: 2px;
  }
}
body > .mainMenu > section.dish .menu__ul > li::before {
  content: "";
  width: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #99f2d0;
  transition: width 0.4s;
  border-radius: 0 20px 20px 0;
}
body > .mainMenu > section.dish .menu__ul > li::after {
  position: absolute;
  right: -10%;
  top: calc(40% - 0.5em);
  transform: rotate(0deg);
  background: white;
  color: #99f2d0;
  border-radius: 50px;
  padding: 0.4em;
  font-family: "Font Awesome 5 Pro";
  content: "\f00c";
  transition: right 0.4s, transform 0.8s;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.dish .menu__ul > li::after {
    right: -8%;
  }
}
body > .mainMenu > section.dish .menu__ul > li:hover::before {
  width: 20%;
}
body > .mainMenu > section.dish .menu__ul > li:hover::after {
  right: 5%;
  transform: rotate(360deg);
}
body > .mainMenu > section.dish .menu__ul > li:hover > p > span {
  width: 70%;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.desserts {
    width: 100%;
    margin-right: 10px;
  }
}
body > .mainMenu > section.desserts .menu {
  margin-top: -110px;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.desserts .menu {
    margin-top: 0;
  }
}
body > .mainMenu > section.desserts .menu__p {
  width: 80px;
  display: inline-block;
  margin-left: 30px;
  font-size: 2em;
  border-bottom: 4px solid #99e2d0;
  padding: 3px;
  color: gray;
  margin-top: 180px;
}
body > .mainMenu > section.desserts .menu__ul {
  position: relative;
  padding: 1px 1em;
  margin: -60px 10px;
  cursor: pointer;
  overflow: hidden;
  margin-top: -40px;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.desserts .menu__ul {
    padding: 1px 0;
  }
}
body > .mainMenu > section.desserts .menu__ul > li {
  background: #ffffff;
  height: 115px;
  border-radius: 20px;
  position: relative;
  padding-right: 30px;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.desserts .menu__ul > li {
    margin-top: 30px;
  }
}
body > .mainMenu > section.desserts .menu__ul > li > h2 {
  font-size: 2em;
  position: relative;
  left: 15px;
  top: 10px;
  line-height: 1.7em;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.desserts .menu__ul > li > h2 {
    font-size: 1.1em;
    line-height: 2em;
    top: 20px;
  }
}
body > .mainMenu > section.desserts .menu__ul > li > p {
  font-size: 2.5em;
  margin-top: -20px;
  margin-left: 15px;
  color: grey;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.desserts .menu__ul > li > p {
    font-size: 2.5em;
  }
}
body > .mainMenu > section.desserts .menu__ul > li > p > span {
  display: inline-block;
  width: 88%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 30px;
  transition: width 0.5s;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.desserts .menu__ul > li > p > span {
    font-size: 0.32em;
    font-weight: bold;
    width: 89%;
    padding-top: 35px;
  }
}
body > .mainMenu > section.desserts .menu__ul > li > p > b {
  position: relative;
  bottom: 5px;
  color: #000;
  font-size: 0.8em;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.desserts .menu__ul > li > p > b {
    font-size: 15px;
    left: 15px;
    bottom: 2px;
  }
}
body > .mainMenu > section.desserts .menu__ul > li::before {
  content: "";
  width: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #99f2d0;
  transition: width 0.4s;
  border-radius: 0 20px 20px 0;
}
body > .mainMenu > section.desserts .menu__ul > li::after {
  position: absolute;
  right: -10%;
  top: calc(40% - 0.5em);
  transform: rotate(0deg);
  background: white;
  color: #99f2d0;
  border-radius: 50px;
  padding: 0.4em;
  font-family: "Font Awesome 5 Pro";
  content: "\f00c";
  transition: right 0.4s, transform 0.8s;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.desserts .menu__ul > li::after {
    right: -8%;
  }
}
body > .mainMenu > section.desserts .menu__ul > li:hover::before {
  width: 20%;
}
body > .mainMenu > section.desserts .menu__ul > li:hover::after {
  right: 5%;
  transform: rotate(360deg);
}
body > .mainMenu > section.desserts .menu__ul > li:hover > p > span {
  width: 70%;
}
body > .mainMenu > button {
  height: 90px;
  width: 45%;
  border-radius: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 135px;
  color: white;
  background: linear-gradient(to top, #9356dc, #ff79da);
  font-size: 1.8em;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > button {
    width: 25%;
    position: absolute;
    left: 38%;
    bottom: 4em;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body > .mainMenu > button {
    margin-left: 230px;
    margin-top: 120px;
  }
}
body .footerMenu {
  background: #000;
}
@media screen and (min-width: 992px) {
  body .footerMenu {
    margin-top: 50px;
  }
}
body .footerMenu > h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 2.5em;
  font-weight: lighter;
  color: #ffffff;
  padding-left: 30px;
  margin-bottom: 85px;
  position: relative;
  top: 60px;
}
body .footerMenu > ul {
  margin-bottom: 0;
  padding-bottom: 60px;
  line-height: 2em;
}
body .footerMenu > ul > li > a {
  display: flex;
  color: #ffffff;
  margin-top: 7px;
}
body .footerMenu > ul > li > a > i {
  position: relative;
  top: 5px;
}
body .footerMenu > ul > li > a > p.utensils {
  padding-left: 27px;
}
body .footerMenu > ul > li > a > p.hands {
  padding-left: 20px;
  margin: 0;
}
body .footerMenu > ul > li > a > p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* HEADER */
  /* NAV */
  /* SECTION 2 */
  /*FOOTER*/
}
body > nav {
  /* SECTION 1 */
}
body > nav > form > i {
  padding-right: 1em;
  font-size: 3em;
}
body > nav > form > input {
  border: none;
  background: transparent;
}
body > nav > section.reservation > button:hover {
  cursor: pointer;
}
body > .mainMenu {
  /* SECTION 3 */
}
body > .mainMenu > section.functioning > ul > li {
  height: 115px;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.functioning > ul > li {
    width: 29%;
    height: 130px;
  }
}
body > .mainMenu > section.functioning > ul > li > div {
  background: #9356dc;
  border-radius: 50px;
  padding: 5px 10px;
  position: relative;
  right: 15px;
  color: white;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.functioning > ul > li > div {
    font-size: 1.5em;
    padding: 3px 10px;
  }
}
body > .mainMenu > section.functioning > ul > li > i {
  font-size: 3.3em;
}
@media screen and (min-width: 768px) {
  body > .mainMenu > section.functioning > ul > li > i {
    margin-right: -10px;
  }
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.functioning > ul > li > i {
    margin-right: -5px;
    font-size: 3em;
    margin-left: -20px;
  }
}
body > .mainMenu > section.functioning > ul > li > i.fas.fa-list-ul {
  margin-right: 10px;
}
body > .mainMenu > section.functioning > ul > li:hover {
  cursor: pointer;
  background: #eaeaea;
  color: #9356dc;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.restaurants > h2 {
    position: absolute;
    margin-top: -40px;
  }
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.restaurants > nav {
    width: 48%;
  }
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.restaurants > nav > span {
    right: 13%;
    top: 22%;
  }
}
body > .mainMenu > section.restaurants > nav > a {
  text-decoration: none;
}
body > .mainMenu > section.restaurants > nav > a > figure {
  background: white;
  margin: 0;
  border-radius: 15px;
}
body > .mainMenu > section.restaurants > nav > a > figure > figcaption > i:hover {
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900 !important;
}
@media screen and (min-width: 992px) {
  body > .mainMenu > section.restaurants > nav > a > figure {
    margin: 20px 0;
  }
}
body > .footerMenu > ul > li > a > p.hands {
  padding-left: 20px;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
