body>header{
    
}



//PAGE D'ACCUEIL
.headerHome {
    padding: 15px;
    box-shadow: 0 0 10px 3px #211818;
    position: relative;
    > h1 {
        > a {
            > i.fas.fa-arrow-left {
                color: #000000;
                font-size: 1.4em;
                position: absolute;
                left: 25px;
                margin-top: 5px;
                @media screen and (min-width: 992px) {
                }
            }
            > img {
                height: 35px;
                margin: 0 auto;
                margin-bottom: 10px;
                display: block;
                @media screen and (min-width: 992px) {
                }
                @media screen and (min-width: 768px) and (max-width: 992px) {
                }
            }
        }

    }

}



//PAGE MENUS
.headerMenus {
    padding: 15px;
    > a {
        > i.fas.fa-arrow-left {
            color: #000000;
            font-size: 1.4em;
            position: absolute;
            left: 25px;
            margin-top: 5px;
            @media screen and (min-width: 992px) {
            }
        }
        > img {
            height: 35px;
            margin: 0 auto;
            margin-bottom: 10px;
            display: block;
            @media screen and (min-width: 992px) {
            }
            @media screen and (min-width: 768px) and (max-width: 992px) {
            }
        }
    }
}