body>main{
    
}

    
    
//PAGE D'ACCUEIL
.mainHome {
    margin-bottom: -25px;



    &__sectionFunctioning {
        @extend .functioning;

        position: relative;
        bottom: 0px;
        
    }


    
    &__sectionRestaurants {
        @extend .restaurants;
    }
}



//PAGE MENUS
.mainMenu{
    background: #f6f6f6;
    position: relative;
    border-radius: 50px 50px 0 0;
    margin-top: -7.8em;
    margin-bottom: -2em;
    padding: 0 0.6em;
    padding-bottom: 4em;
    @media screen and (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        margin-top: -1em;
        padding-bottom: 15em;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
    }

    /* SECTION 1 */

    .heart {
        
    }
    .menu {
        
    }
    > button {
        @extend %button;
        border: none;
        margin: 0 auto;
        display:block;
        @media screen and (min-width: 992px) {
            position: absolute;
            bottom: 0;
            margin: 135px 36em;
        }
        @media screen and (min-width: 768px) and (max-width: 992px) {
        }
    }
}