a,
ul {
    list-style-type: none;
    text-decoration: none;
}
p,
h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
}

h4 {
    font-family: "Shrikhand", sans-serif;
}

* {
    box-sizing: border-box;
}
body {

    /* NAV */

    .nav {
        top: 10px;
        &__form {
            text-align: center;
            background: #ccc;
            padding: 0.8em 0;
            padding-left: 85px;
            .form {
                &__i {
                    font-size: x-large;
                }
                &__input {
                    font-weight: 600;
                    font-size: 1.1em;
                }
            }
        }

        /* SECTION 1 */

        &__section {
            text-align: center;
            background: #f6f6f6;
            padding: 1px 0 60px;
            .reservation {
                &__h1 {
                    font-weight: bold;
                    font-size: 1.5em;
                    line-height: 1em;
                    margin-top: 45px;
                    margin-bottom: 0;
                }
                &__p {
                    font-weight: 300;
                    font-size: 1.5em;
                    line-height: 1em;
                    margin-top: 10px;
                    margin-bottom: 35px;
                }
                &__button {
                    font-family: "roboto", sans-serif;
                    display: block;
                    background: linear-gradient(#FF79DA, #9356DC);
                    border: none;
                    color: white;
                    font-size: medium;
                    transition: background 1s;
                    padding: 20px 85px;
                    box-shadow: 4px 4px 6px #bbb;
                    margin: 0 auto;
                    border-radius: 50px;
                    cursor: pointer;
                    &:hover {
    box-shadow: 6px 6px 8px #3d3c40;
    filter: brightness(1.3);
                    }
                }
            }
        }
    }

    /* SECTION 2 */

    .mainHome {
        margin-bottom: -25px;
        &__sectionFunctioning {
            position: relative;
            bottom: 0px;
            .functioning {
                &__h2 {
                    font-size: 1.4em;
                    margin: 50px 0 30px 20px;
                    @media screen and (min-width: 992px) {
                        display: flex;
                        justify-content: space-around;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                    }
                }
                &__ul {
                    padding: 0 20px;
                    @media screen and (min-width: 992px) {
                        display: flex;
                        justify-content: space-around;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        display: flex;
                        justify-content: space-around;
                        flex-flow: wrap;
                    }
                    > li {
                        background: #f6f6f6;
                        box-shadow: 2px 2px 15px 2px #ccc;
                        margin: 0 0px 25px 12px;
                        border-radius: 10px;
                        @media screen and (min-width: 992px) {
                            width: 30%;
                        }
                        @media screen and (min-width: 768px) and (max-width: 992px) {
                            width: 45%;
                        }
                        > span {
                            background: #9356DC;
                            color: white;
                            padding: 5px 9px;
                            position: relative;
                            right: 12px;
                            font-size: 0.8em;
                            bottom: 5px;
                            border-radius: 50px;
                            @media screen and (min-width: 992px) {
                                position: relative;
                                font-size: 1.2em;
                                top: 0px;
                                padding: 5px 11px;
                                right: 16px;
                            }
                            @media screen and (min-width: 768px) and (max-width: 992px) {
                                font-size: 0.8em;
                                padding: 3px 7px;
                                bottom: 2px;
                                right: 11px;
                            }
                        }
                        > i {
                            font-size: 1.5em;
                            margin-right: 15px;
                            @media screen and (min-width: 992px) {
                                position: relative;
                                font-size: 2em;
                                top: 5px;
                                left: -5px;
                            }
                            @media screen and (min-width: 768px) and (max-width: 992px) {
                                position: relative;
                                top: 2px;
                            }
                        }
                        > h3 {
                            font-size: 1.2em;
                            display: inline-block;
                            @media screen and (min-width: 992px) {
                                position: relative;
                                right: 10px;
                                top: 0px;
                            }
                            @media screen and (min-width: 768px) and (max-width: 992px) {
                                position: relative;
                                bottom: -2px;
                            }
                        }
                        &:hover {
                            cursor: pointer;
                            background: #eaeaea;
                            color: $colour-primary;
                            > h3 {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }

        /* SECTION 3 */

        &__sectionRestaurants {
            background: #f6f6f6;
            position: relative;
            padding: 110px 20px;
            padding-bottom: 1em;
            margin-top: 50px;
            @media screen and (min-width: 992px) {
                padding-top: 90px;
            }
            @media screen and (min-width: 768px) and (max-width: 992px) {
                flex-flow: wrap;
                justify-content: space-between;
                padding-top: 90px;
            }
            .restaurants {
                &__h2 {
                    position: absolute;
                    font-size: 1.4em;
                    top: 40px;
                    left: 15px;
                    @media screen and (min-width: 992px) {
                        left: 35px;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        position: absolute;
                    }
                }
                &__ul {
                    display: flex;
                    flex-flow: column;
                    padding: 0;
                    @media screen and (min-width: 992px) {
                        flex-flow: wrap;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        width: 100%;
                    }
                    > .li {
                        position: relative;
                        margin-top: -15px;
                        @media screen and (min-width: 992px) {
                            flex-basis: 50%;
                            padding: 20px;
                        }
                        > .span {
                            position: absolute;
                            background: #99E2D0;
                            color: green;
                            font-size: medium;
                            padding: 4px 10px;
                            font-weight: bold;
                            right: 15px;
                            top: 31px;
                            border-radius: 2px;
                            @media screen and (min-width: 992px) {
                                right: 30px;
                                margin-top: 20px;
                            }
                            @media screen and (min-width: 768px) and (max-width: 992px) {
                                right: 30px;
                            }
                        }
                        > .a {
                            text-decoration: none;
                            > .figure {
                                background: white;
                                border-radius: 20px;
                                margin: 20px 0;
                                > .img {
                                    height: 300px;
                                    width: 100%;
                                    object-fit: cover;
                                    border-radius: 20px 20px 0 0;
                                }
                                > .figcaption {
                                    > .h3 {
                                        color: #000000;
                                        font-weight: bold;
                                        font-size: 1.2em;
                                        position: relative;
                                        margin: 10px;
                                        top: 0;
                                        left: 5px;
                                    }
                                    > .fa-heart {
                                        float: right;
                                        color: #000;
                                        position: relative;
                                        bottom: 25px;
                                        right: 25px;
                                        font-size: 1.8em;
                                        transition: all linear 1s;
                                        &::before {
                                            content: "ï€„";
                                        }
                                        &::after {
                                        }
                                        &:hover {
                                            color: $colour-secondary;
                                            animation: 2s heart 1 forwards;
                                            font-weight: 700;
                                            background: linear-gradient($colour-secondary, $colour-primary);
                                            -webkit-background-clip: text;
                                            -webkit-text-fill-color: transparent;
                                        }
                                    }
                                    > .p {
                                        color: #000000;
                                        font-size: 1em;
                                        margin: 20px 15px;
                                        position: relative;
                                        bottom: 10px;
                                    }
                                }
                                @media screen and (min-width: 992px) {
                                }
                                @media screen and (min-width: 768px) and (max-width: 992px) {
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
