a,
ul {
    list-style-type: none;
    text-decoration: none;
}
p,
h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
}

h4 {
    font-family: "Shrikhand", sans-serif;
}

* {
    box-sizing: border-box;
}
body {

    /* HEADER */

    .headerHome {
        box-shadow: 0 0 10px 1px #808080;
        position: relative;
        > a {
            > img {
                height: 50px;
                margin: 30px 0 10px 31%;
                @media screen and (min-width: 992px) {
                    margin-left: 37%;
                }
                @media screen and (min-width: 768px) and (max-width: 992px) {
                    margin-left: 35%;
                }
            }
        }
    }

    /* NAV */

    .nav {
        &__form {
            text-align: center;
            background: #ccc;
            padding: 1.5em 0;
            padding-left: 85px;
            .form {
                &__i {
                    font-size: xx-large;
                }
                &__input {
                    font-weight: 600;
                    font-size: 1.4em;
                }
            }
        }

        /* SECTION 1 */

        &__section {
            text-align: center;
            background: #f6f6f6;
            padding: 1px 0 55px;
            .reservation {
                &__h1 {
                    font-weight: bold;
                    font-size: 3em;
                    line-height: 1em;
                    margin-top: 40px;
                    margin-bottom: 0;
                }
                &__p {
                    font-weight: 300;
                    font-size: 2em;
                    line-height: 1em;
                }
                &__button {
                    font-family: "roboto", sans-serif;
                    padding: 20px 85px;
                    border-radius: 50px;
                    background: linear-gradient(#ff79da, #9356DC);
                    border: none;
                    color: white;
                    font-size: medium;
                    box-shadow: 4px 4px 6px #bbb;
                    transition: background 300ms;
                    &:hover {
                        box-shadow: 6px 6px 8px rgb(61 60 64);
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    /* SECTION 2 */

    .mainHome {
        margin-bottom: -25px;
        &__sectionFunctioning {
            position: relative;
            bottom: 0px;
            .functioning {
                &__h2 {
                    font-size: 2.2em;
                    margin: 50px 0 30px 20px;
                    @media screen and (min-width: 992px) {
                        display: flex;
                        justify-content: space-around;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                    }
                }
                &__ul {
                    padding: 0 20px;
                    @media screen and (min-width: 992px) {
                        display: flex;
                        justify-content: space-around;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        display: flex;
                        justify-content: space-around;
                        flex-flow: wrap;
                    }
                    > li {
                        border-radius: 20px;
                        background: #f6f6f6;
                        padding: 20px;
                        box-shadow: 2px 2px 15px 2px #ccc;
                        margin: 0 5px 25px 15px;
                        @media screen and (min-width: 992px) {
                            width: 30%;
                        }
                        @media screen and (min-width: 768px) and (max-width: 992px) {
                            width: 45%;
                        }
                        > span {
                            background: #9356dc;
                            border-radius: 50px;
                            padding: 5px 10px;
                            position: relative;
                            right: 35px;
                            color: white;
                            font-size: 1.2em;
                            bottom: 5px;
                            @media screen and (min-width: 992px) {
                                font-size: 1.2em;
                                position: relative;
                                top: 0px;
                                padding: 5px 11px;
                            }
                            @media screen and (min-width: 768px) and (max-width: 992px) {
                                font-size: 1.5em;
                                padding: 3px 10px;
                                bottom: -5px;
                            }
                        }
                        > i {
                            font-size: 2em;
                            margin-right: 25px;
                            @media screen and (min-width: 992px) {
                                font-size: 2em;
                                position: relative;
                                top: 5px;
                                left: -5px;
                            }
                            @media screen and (min-width: 768px) and (max-width: 992px) {
                                position: relative;
                                right: 20px;
                                top: 10px;
                                font-size: 2em;
                            }
                        }
                        > h3 {
                            font-size: 1.6em;
                            display: inline-block;
                            @media screen and (min-width: 992px) {
                                font-size: 1em;
                                position: relative;
                                right: 10px;
                                top: 0px;
                            }
                            @media screen and (min-width: 768px) and (max-width: 992px) {
                                font-size: 1.2em;
                                position: relative;
                                bottom: -5px;
                            }
                        }
                        &:hover {
                            cursor: pointer;
                            background: #eaeaea;
                            color: #9356dc;
                            > h3 {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }

        /* SECTION 3 */

        &__sectionRestaurants {
            background: #f6f6f6;
            padding: 95px 20px;
            padding-bottom: 3em;
            margin-top: 70px;
            position: relative;
            position: relative;
            @media screen and (min-width: 992px) {
                padding-top: 90px;
            }
            @media screen and (min-width: 768px) and (max-width: 992px) {
                flex-flow: wrap;
                justify-content: space-between;
                padding-top: 90px;
            }
            .restaurants {
                &__h2 {
                    position: absolute;
                    font-size: 2.2em;
                    margin-bottom: 7px;
                    top: 25px;
                    @media screen and (min-width: 992px) {
                        left: 35px;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        position: absolute;
                    }
                }
                &__ul {
                    display: flex;
                    flex-flow: column;
                    padding: 0;
                    @media screen and (min-width: 992px) {
                        flex-flow: wrap;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        width: 100%;
                    }
                    > .li {
                        position: relative;
                        margin-top: 10px;
                        @media screen and (min-width: 992px) {
                            flex-basis: 50%;
                            padding: 20px;
                        }
                        > .span {
                            position: absolute;
                            background: #99e2d0;
                            color: green;
                            font-size: medium;
                            padding: 4px 10px;
                            font-weight: bold;
                            right: 10px;
                            top: 10px;
                            border-radius: 2px;
                            @media screen and (min-width: 992px) {
                                right: 30px;
                                top: 30px;
                            }
                        }
                        > .a {
                            text-decoration: none;
                            > .figure {
                                background: white;
                                border-radius: 20px;
                                margin: -5px;
                                > .img {
                                    height: 300px;
                                    width: 100%;
                                    object-fit: cover;
                                    border-radius: 20px 20px 0 0;
                                }
                                > .figcaption {
                                    > .h3 {
                                        color: #000000;
                                        font-size: 1.5em;
                                        font-weight: bold;
                                        margin: 10px;
                                        position: relative;
                                        top: 0;
                                        left: 5px;
                                    }
                                    > .fa-heart {
                                        float: right;
                                        position: relative;
                                        bottom: 30px;
                                        right: 25px;
                                        font-size: 3em;
                                        color: #000;
                                        &::before{position:absolute;}
                                        &::after{
                                          content: "ï€„";
                                          position: relative;
                                          background: linear-gradient(#FF79DA, #9356DC);
                                          -webkit-background-clip: text;
                                          -webkit-text-fill-color: transparent;
                                          font-weight: 900;
                                          opacity: 0;
                                          transition: opacity 2s;
                                        }
                                        &:hover::after{opacity: 1;}
                                    }
                                    > .p {
                                        font-size: 1.5em;
                                        color: #000000;
                                        margin: 20px 15px;
                                        position: relative;
                                        bottom: 10px;
                                    }
                                }
                                @media screen and (min-width: 992px) {
                                }
                                @media screen and (min-width: 768px) and (max-width: 992px) {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*FOOTER*/
    
    .footerHome {
        background: #000;
        @media screen and (min-width: 992px) {
        }
        > h2 {
            font-family: "Shrikhand", sans-serif;
            font-size: 2em;
            font-weight: lighter;
            color: #ffffff;
            padding-left: 25px;
            position: relative;
            top: 35px;
        }
        > ul {
            padding-bottom: 25px;
            margin-top: 50px;
            margin-left: -15px;
            > li {
                font-size: 0.9em;
                line-height: 0.5;
                > a {
                    color: #ffffff;
                    > p.utensils {
                        margin: 10px 0;
                        ;
                        > i {
                            margin-right: 20px;
                        }
                    }
                    > p.hands {
                        margin: 10px 0;
                        > i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .loader{

        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        background: blueviolet;
        animation: 3s loader 1 forwards;


        $colors: 
	#489D8A
	#324650
	#D34B4C
	#E8A961;
$size: 2em; /*change this to resize*/

@function scale($i){
	@return 1em * $i;
}

.c{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 5em;
	width: scale(5);
	li{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		border-radius: 50%;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		transform-origin: center center;
		animation: anim 1s ease-in-out infinite;
		will-change: transform, filter;
		&:nth-child(1){
			width: scale(1);
			height: scale(1);
			&:after{
				content:'';
				display: block;
				font-size: 25%;
				width: 1em;
				height: 1em;
				border-radius: 50%;
				box-shadow: 
					scale(1) 0 0 rgba(nth($colors, 1), .2),
					-(scale(1)) 0 0 rgba(nth($colors, 2), .2),
					0 scale(1) 0 rgba(nth($colors, 3), .2),
					0 (-(scale(1))) 0 rgba(nth($colors, 4), .2);
			}
		}
		&:nth-child(2){
			animation-delay: .1s;
			width: scale(2);
			height: scale(2);
			&:after{
				content:'';
				display: block;
				font-size: 50%;
				width: 1em;
				height: 1em;
				border-radius: 50%;
				box-shadow: 
					scale(1.5) 0 0 rgba(nth($colors, 1), .4),
					-(scale(1.5)) 0 0 rgba(nth($colors, 2), .4),
					0 scale(1.5) 0 rgba(nth($colors, 3), .4),
					0 (-(scale(1.5))) 0 rgba(nth($colors, 4), .4); 
			}
		}
		&:nth-child(3){
			animation-delay: .15s;
			width: scale(3);
			height: scale(3);
			&:after{
				content:'';
				display: block;
				font-size: 75%;
				width: 1em;
				height: 1em;
				border-radius: 50%;
				box-shadow: 
					scale(2) 0 0 rgba(nth($colors, 1), .6),
					-(scale(2)) 0 0 rgba(nth($colors, 2), .6),
					0 scale(2) 0 rgba(nth($colors, 3), .6),
					0 (-(scale(2))) 0 rgba(nth($colors, 4), .6);
			}
		}
		&:nth-child(4){
			animation-delay: .2s;
			width: scale(4);
			height: scale(4);
			&:after{
				content:'';
				display: block;
				font-size: 100%;
				width: 1em;
				height: 1em;
				border-radius: 50%;
				box-shadow: 
					scale(2.5) 0 0 rgba(nth($colors, 1), .8),
					-(scale(2.5)) 0 0 rgba(nth($colors, 2), .8),
					0 scale(2.5) 0 rgba(nth($colors, 3), .8),
					0 (-(scale(2.5))) 0 rgba(nth($colors, 4), .8);
			}
		}
		&:nth-child(5){
			animation-delay: .25s;
			width: scale(5);
			height: scale(5);
			&:after{
				content:'';
				display: block;
				font-size: 125%;
				width: 1em;
				height: 1em;
				border-radius: 50%;
				box-shadow: 
					scale(3) 0 0 nth($colors, 1),
					-(scale(3)) 0 0 nth($colors, 2),
					0 scale(3) 0 nth($colors, 3),
					0 (-(scale(3))) 0 nth($colors, 4);
			}
		}
	}
}
@keyframes anim {
	50%{
		filter: blur(2px);
	}
	90%, 100%{ 
		transform: rotate(1turn);
		filter: blur(0);
	}
}

@keyframes loader {
	0%{opacity: 1;

	}
	90% {opacity: 0.9;

    } 
    
    100%{ opacity: 0;
        z-index: -1;

	}
}


    }
}
