a,
ul {
    list-style-type: none;
    text-decoration: none;
}
p,
h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
}

h4 {
    font-family: "Shrikhand", sans-serif;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;

    /* HEADER */

    .headerHome {
        box-shadow: 0 0 10px 1px #808080;
        position: relative;
        > a {
            > img {
                height: 50px;
                margin: 40px 0 15px 31%;
                @media screen and (min-width: 992px) {
                    margin-left: 37%;
                }
                @media screen and (min-width: 768px) and (max-width: 992px) {
                    margin-left: 35%;
                }
            }
        }
    }

    /* NAV */

    .nav {
        &__form {
            text-align: center;
            background: #ccc;
            padding: 1.5em 0;
            padding-left: 85px;
            .form {
                &__i {
                    font-size: xx-large;
                }
                &__input {
                    font-weight: 600;
                    font-size: 1.4em;
                    margin-bottom: 5px;
                }
            }
        }

        /* SECTION 1 */

        &__section {
            text-align: center;
            background: #f6f6f6;
            padding: 1px 0 55px;
            .reservation {
                &__h1 {
                    font-weight: bold;
                    font-size: 3em;
                    margin-top: 65px;
                    margin-bottom: 30px;
                    line-height: 1em;
                }
                &__p {
                    font-weight: bold;
                    font-size: large;
                    margin-top: 10px;
                    line-height: 1.5em;
                }
                &__button {
                    padding: 15px 20px;
                    border-radius: 50px;
                    margin-top: 35px;
                    background: linear-gradient(to left, #9356dc, #ff79da);
                    border: none;
                    color: white;
                    font-size: medium;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    /* SECTION 2 */

    .mainHome {
        border-radius: 25px 25px 0 0;
        margin-top: -30px;
        &__sectionFunctioning {
            position: relative;
            bottom: 0px;
            .functioning {
                &__h2 {
                    margin: 110px 20px 50px 50px;
                    font-size: 2.2em;
                    @media screen and (min-width: 992px) {
                        display: flex;
                        justify-content: space-around;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        margin-top: 115px;
                        margin-bottom: 0;
                    }
                }
                &__ul {
                    padding: 0 20px;
                    @media screen and (min-width: 992px) {
                        display: flex;
                        justify-content: space-around;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        display: flex;
                        justify-content: space-around;
                        flex-flow: wrap;
                    }
                    > li {
                        margin: 40px 0;
                        margin: 40px 0;
                        border-radius: 20px;
                        background: #f6f6f6;
                        margin-left: 15px;
                        padding: 20px;
                        box-shadow: 2px 2px 15px 2px #ccc;
                        @media screen and (min-width: 992px) {
                            width: 30%;
                        }
                        @media screen and (min-width: 768px) and (max-width: 992px) {
                            width: 45%;
                        }
                        > span {
                            background: #9356dc;
                            border-radius: 50px;
                            padding: 5px 10px;
                            position: relative;
                            right: 35px;
                            color: white;
                            font-size: 1.2em;
                            bottom: 10px;
                            @media screen and (min-width: 992px) {
                                font-size: 1.2em;
                                position: relative;
                                top: 0px;
                                padding: 5px 11px;
                            }
                            @media screen and (min-width: 768px) and (max-width: 992px) {
                                font-size: 1.5em;
                                padding: 3px 10px;
                                bottom: -5px;
                            }
                        }
                        > i {
                            font-size: 2em;
                            @media screen and (min-width: 992px) {
                                font-size: 2em;
                                position: relative;
                                top: 5px;
                                left: 10px;
                            }
                            @media screen and (min-width: 768px) and (max-width: 992px) {
                                position: relative;
                                right: 20px;
                                top: 10px;
                                font-size: 2em;
                            }
                        }
                        > h3 {
                            font-size: 1.6em;
                            display: inline-block;
                            margin-left: 45px;
                            @media screen and (min-width: 992px) {
                                font-size: 1em;
                                position: relative;
                                right: 10px;
                                top: 0px;
                            }
                            @media screen and (min-width: 768px) and (max-width: 992px) {
                                font-size: 1.2em;
                                margin-left: unset;
                                position: relative;
                                bottom: -5px;
                            }
                        }
                        &:hover {
                            cursor: pointer;
                            background: #eaeaea;
                            color: #9356dc;
                            > h3 {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }

        /* SECTION 3 */

        &__sectionRestaurants {
            background: #f6f6f6;
            padding: 138px 20px;
            margin-top: 120px;
            padding-bottom: 65px;
            @media screen and (min-width: 992px) {
                padding-top: 90px;
            }
            @media screen and (min-width: 768px) and (max-width: 992px) {
                flex-flow: wrap;
                justify-content: space-between;
                padding-top: 90px;
            }
            .restaurants {
                &__h2 {
                    position: absolute;
                    margin-top: -50px;
                    font-size: 2.5em;
                    @media screen and (min-width: 992px) {
                        position: absolute;
                        margin-top: -30px;
                        margin-left: 20px;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        position: absolute;
                        margin-top: -50px;
                        font-size: large;
                    }
                }
                &__ul {
                    display: flex;
                    flex-flow: column;
                    margin-top: 55px;
                    padding: 0;
                    @media screen and (min-width: 992px) {
                        flex-flow: wrap;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        width: 100%;
                    }
                    > .li {
                        position: relative;
                        @media screen and (min-width: 992px) {
                            flex-basis: 50%;
                            padding: 20px;
                        }
                        > .span {
                            position: absolute;
                            background: #99e2d0;
                            color: green;
                            font-size: medium;
                            padding: 4px 10px;
                            font-weight: bold;
                            right: 10px;
                            top: 10px;
                            border-radius: 2px;
                            @media screen and (min-width: 992px) {
                                right: 30px;
                                top: 5px;
                            }
                        }
                        > .a {
                            text-decoration: none;
                            > .figure {
                                background: white;
                                margin: -10px 0;
                                border-radius: 20px;
                                > .img {
                                    height: 300px;
                                    width: 100%;
                                    object-fit: cover;
                                    border-radius: 20px 20px 0 0;
                                }
                                > .figcaption {
                                    margin: 60px 0;
                                    > .h3 {
                                        margin-left: 20px;
                                        margin-bottom: -45px;
                                        color: #000000;
                                        font-size: 2em;
                                        position: relative;
                                        bottom: 40px;
                                    }
                                    > .i {
                                        float: right;
                                        position: relative;
                                        bottom: 30px;
                                        right: 20px;
                                        font-size: 3em;
                                        font-weight: 100 !important;
                                        transition: font-weight 0.5s;
                                        color: gray;
                                        &:hover {
                                            background: linear-gradient(#ff79da, #9356dc);
                                            background-clip: border-box;
                                            -webkit-background-clip: text;
                                            -webkit-text-fill-color: transparent;
                                            font-weight: 900 !important;
                                        }
                                    }
                                    > .p {
                                        padding-bottom: 26px;
                                        margin-left: 20px;
                                        margin-top: 20px;
                                        font-size: 2em;
                                        color: #000000;
                                    }
                                }
                                @media screen and (min-width: 992px) {
                                    margin: -30px 0;
                                }
                                @media screen and (min-width: 768px) and (max-width: 992px) {
                                    margin: -10px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*FOOTER*/
    > .footerHome {
        background: #000;
        padding: 5px;
        margin-top: 0px;
        > h4 {
            font-family: "Shrikhand", sans-serif;
            font-size: 2.5em;
            font-weight: lighter;
            color: #ffffff;
            padding-left: 30px;
            margin-bottom: 20px;
            position: relative;
            top: -30px;
        }
        > ul {
            list-style-type: none;
            margin-left: 30px;
            position: relative;
            bottom: 20px;
            > li {
                font-size: 1.7em;
                > a {
                    display: flex;
                    color: #ffffff;
                    margin-bottom: 10px;
                    > i {
                        font-size: 1.5em;
                    }
                    > p.utensils {
                        padding-left: 27px;
                        margin: 5px;
                    }
                    > p.hands {
                        padding-left: 20px;
                        margin: 0;
                    }
                    > p {
                        margin: 0;
                    }
                }
            }
        }
    }
}
