@import url("https://fonts.googleapis.com/css?family=Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Roboto");
//@import "main.scss";

h1 {
}

p,
h3,
h4,
span {
}

a {
    list-style-type: none;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
/* 1-  ******************************/

@mixin appetizer(
    $appetizer: (
        color: gray,
    )
) {
    &__plat {
        @extend %appetizer__plat;
        color: map-get($appetizer, color);
    }
}
%appetizer {
    &__plat {
        display: inline-block;
        margin-left: 20px;
        font-size: 2em;
        border-bottom: 4px solid #99e2d0;
        padding: 3px;
        /*color: gray;*/
        margin-top: 60px;
        @media screen and (min-width: 992px) {
            margin-top: 180px;
            margin-left: 30px;
        }
    }
}

.appetizer {
    @include appetizer(
        (
            color: red,
        )
    );
    &__plat {
    }
    &__menu {
        display: flex;
        flex-flow: column;
        margin-top: 20px;
        @media screen and (min-width: 992px) {
            width: 100%;
        }
        > ul {
            position: relative;
            padding: 1px 1em;
            margin: 10px 10px;
            cursor: pointer;
            @media screen and (min-width: 992px) {
                margin: 10px 25px;
                width: 83%;
            }
            > li {
                background: #ffffff;
                height: 80px;
                border-radius: 20px;
                margin-top: 15px;
                position: relative;
                > h2 {
                    font-size: 2.5em;
                    position: relative;
                    left: 10px;
                    top: 15px;
                }
                > p {
                    font-size: 2.5em;
                    margin-top: 15px;
                    margin-left: 10px;
                    color: grey;
                    > span {
                        display: inline-block;
                        width: 88%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    > b {
                        position: relative;
                        bottom: 5px;
                        color: #000;
                    }
                }
            }
        }
    }
}
/*** 2- ******************************* ***
        ***********************************/
body {
    margin: 0;
    /* HEADER */
    > header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        > a {
            position: relative;
            > i.fas.fa-arrow-left {
                color: #000000;
                position: absolute;
                bottom: 15px;
                font-size: 1.8em;
                margin-left: -210px;
                @media screen and (min-width: 992px) {
                    left: -200px;
                }
            }
            > img {
                height: 50px;
                margin-right: 10px;
                margin-top: 40px;
                margin-bottom: 20px;
                @media screen and (min-width: 992px) {
                    width: 100%;
                }
            }
        }
    }
    /* IMG */
    > img {
        object-fit: cover;
        height: 500px;
        width: 100%;
        @media screen and (min-width: 992px) {
            height: 860px;
        }
    }
    /* MAIN */
    > main {
        margin-top: -285px;
        margin-bottom: -60px;
        padding-bottom: 60px;
        position: relative;
        z-index: 0;
        @media screen and (min-width: 768px) {

        }
        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 185px;
            @media screen and (min-width: 768px) {
                margin-top: -696px;
                width: 100%;
                margin-left: -175px;
            }
            @media screen and (min-width: 992px) {
                margin-bottom: 539px;
            }
            > h1 {
                font-family: "Shrikhand";
                font-size: 3em;
                margin-left: 25px;
                margin-top: 55px;
                @media screen and (min-width: 992px) {
                    margin-top: 225px;
                    position: absolute;
                    margin-left: 30px;
                }
            }
            > i {
                margin-top: 50px;
                margin-left: 690px;
                position: absolute;
                font-size: 2.8em;
                &:hover {
                    background: linear-gradient(#ff79da, #9356dc);
                    background-clip: border-box;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 900 !important;
                }
                @media screen and (min-width: 768px) {
                    margin-left: 805px;
                }
            }
        }
        /* SECTION */
        > section {
            @media screen and (min-width: 768px) {
                flex-flow: wrap;
            }
        }
    /*** 3- ************************** ***
           ********************************
           *******************************/
        > section.dish {
            > p {
                display: inline-block;
                margin-left: 20px;
                font-size: 2em;
                border-bottom: 4px solid #99e2d0;
                padding: 3px;
                color: gray;
                margin-top: 60px;
                @media screen and (min-width: 992px) {
                    margin-top: 180px;
                    margin-left: 30px;
                }
            }
            > div.menu {
                display: flex;
                flex-flow: column;
                margin-top: 20px;
                @media screen and (min-width: 992px) {
                    width: 100%;
                }
                > ul {
                    position: relative;
                    padding: 1px 1em;
                    margin: 10px 10px;
                    cursor: pointer;
                    list-style-type: none;
                    @media screen and (min-width: 992px) {
                        margin: 10px 25px;
                        width: 83%;
                    }
                    > li {
                        height: 80px;
                        background: #ffffff;
                        border-radius: 20px;
                        > h2 {
                            margin-top: 10px;
                            font-size: 2.5em;
                            position: relative;
                            left: 10px;
                            top: 15px;
                        }
                        > p {
                            font-size: 2.5em;
                            margin-top: 15px;
                            margin-left: 10px;
                            color: grey;
                            > span {
                                display: inline-block;
                                width: 88%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                            > b {
                                position: relative;
                                bottom: 5px;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
        > section.desserts {
            > p {
                display: inline-block;
                margin-left: 20px;
                font-size: 2em;
                border-bottom: 4px solid #99e2d0;
                padding: 3px;
                color: gray;
                margin-top: 60px;
                @media screen and (min-width: 992px) {
                    margin-top: 180px;
                    margin-left: 30px;
                }
            }
            > span {
                right: 5px;
                position: relative;
                font-size: 2em;
                color: gray;
            }
            > div.menu {
                display: flex;
                flex-flow: column;
                margin-top: 20px;
                @media screen and (min-width: 992px) {
                    width: 100%;
                }
                > ul {
                    position: relative;
                    padding: 1px 1em;
                    margin: 10px 10px;
                    @media screen and (min-width: 992px) {
                        margin: 10px 25px;
                        width: 83%;
                    }
                    > li {
                        border-radius: 20px;
                        height: 80px;
                        background: #ffffff;
                        position: relative;
                        > h2 {
                            margin-top: 10px;
                            font-size: 2.5em;
                            position: relative;
                            left: 10px;
                            top: 15px;
                        }
                        > p {
                            font-size: 2.5em;
                            margin-top: 15px;
                            margin-left: 10px;
                            color: grey;
                            > span {
                                display: inline-block;
                                width: 88%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                transition: width .5s;
                            }
                            > b {
                                position: relative;
                                bottom: 5px;
                                color: #000;
                            }
                        }
                        &::before {
                        content: "";
                        width: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background: #99f2d0;
                        transition: width 0.4s;
                    }
                    &::after {
                        position: absolute;
                        right: -10%;
                        top: calc(40% - 1em / 2);
                        transform: rotate(0deg);
                        background: white;
                        color: #99f2d0;
                        border-radius: 50px;
                        padding: 0.4em;
                        font-family: "Font Awesome 5 Pro";
                        content: "ï€Œ";
                        transition: right 0.4s, transform 0.8s;
                        font-size: 1.5em;
                        @media screen and (min-width: 992px) {
                            right: -8%;
                        }
                    }
                    &:hover {
                        &::before {
                            width: 25%;
                        }
                        &::after {
                            right: 5%;
                            transform: rotate(360deg);
                        }
                        > p {
                            > span {
                                width: 60%;
                            }
                        }
                    }
                    }
                }
            }
        }
        /* BUTTON */
        > button {
            height: 40px;
            width: 20%;
            border-radius: 60px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            color: white;
            background: linear-gradient(to top, #9356dc, #ff79da);
            font-size: 1.8em;
            border: none;
            cursor: pointer;
            @media screen and (min-width: 968px) {
                margin-left: 387px;
                margin-top: 432px;
                position: absolute;
            }
            @media screen and (min-width: 992px) {
                width: 30%;
                margin-left: -765px;
            }
        }
    }
    /* FOOTER */
    > footer {
        > h2 {
            font-family: "Shrikhand", sans-serif;
            font-size: 2.5em;
            font-weight: lighter;
            color: #ffffff;
            padding-left: 30px;
            margin-bottom: 85px;
            position: relative;
            top: 35px;
        }
        > ul {
            list-style-type: none;
            > li {
                > a {
                    display: flex;
                    color: #ffffff;
                    margin-top: 7px;
                    > i {
                    }
                    > p.utensils {
                        padding-left: 27px;
                        margin: 0;
                    }
                    > p.hands {
                        padding-left: 20px;
                        margin: 0;
                    }
                    > p {
                        margin: 0;
                    }
                }
            }
        }
    }
}
