@import url("https://fonts.googleapis.com/css?family=Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Roboto");
//@import "main.scss";

h1 {
}

p,
h3,
h4,
span {
}

a {
    list-style-type: none;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
/* 1-  ******************************/

@mixin appetizer(
    $appetizer: (
        color: gray,
    )
) {
    &__plat {
        @extend %appetizer__plat;
        color: map-get($appetizer, color);
    }
}
%appetizer {
    &__plat {
        display: inline-block;
        font-size: 2em;
        border-bottom: 4px solid $colour-tertiary;
        padding: 3px;
        color: gray;
        width: 85px;
        @media screen and (min-width: 992px) {
        }
    }
}

/*** 2- ******************************* ***
        ***********************************/
body {

    /* HEADER */

    .headerMenu {
        margin-top: 35px;
        > a {
            position: relative;
            > i.fas.fa-arrow-left {
                color: #000000;
                font-size: 1.8em;
                position: absolute;
                left: 35px;
                top: 10px;
                @media screen and (min-width: 992px) {
                }
            }
            > img {
                height: 50px;
                margin: 0 auto;
                margin-bottom: 20px;
                display: block;
                @media screen and (min-width: 992px) {
                }
                @media screen and (min-width: 768px) and (max-width: 992px) {
                }
            }
        }
    }

    /* IMG */

    > img {
        object-fit: cover;
        height: 500px;
        width: 100%;
        @media screen and (min-width: 992px) {
        }
    }


    /* MAIN */

    > .mainMenu {
        background: #f6f6f6;
        position: relative;
        border-radius: 50px 50px 0 0;
        margin-top: -9em;
        margin-bottom: -2em;
        padding: 0 1.3em;
        padding-bottom: 3em;
        @media screen and (min-width: 992px) {
            display: flex;
            justify-content: space-between; 
            margin-top: -1em;
            padding-bottom: 15em;
        }
        @media screen and (min-width: 768px) and (max-width: 992px) {
        }

        /* SECTION 1 */

        .heart {
            font-family: "Shrikhand";
            font-size: 3em;
            padding-top: 25px;
            margin-bottom: 0;
            @media screen and (min-width: 992px) {
                position: absolute;
                padding-top: 25px;
            }
            @media screen and (min-width: 768px) and (max-width: 992px) {
            }
            .fa-heart {
                font-size: 1em;
                float: right;
                margin-right: 30px;
                margin-top: 10px;

                &::before{position:absolute;}
                &::after{
                  content: "";
                  position: relative;
                  background: linear-gradient(#FF79DA, #9356DC);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  font-weight: 900;
                  opacity: 0;
                  transition: opacity 2s;
                }
                &:hover::after{opacity: 1;}



                @media screen and (min-width: 992px) {
                    float: unset;
                    padding-left: 9em;
                }
                @media screen and (min-width: 768px) and (max-width: 992px) {
                    margin-right: 55px;
                }
            }
        }
        .menu {
            animation: 3s menu 1 forwards;
            overflow: hidden;
            @keyframes menu {
                0% {
                    opacity: 0;
                    height: 0;
                }
                90% {opacity: .9;
                    height: 400px;
                }
                100% {opacity: 1;
                    height: 525px;
                }
            }
            @media screen and (min-width: 992px) {
                width: 32%;
                margin-top: 10em;
            }
                @include appetizer((               ));
                &__p {
                    width: 80px;
                    font-size: 2em;
                    border-bottom: 4px solid #99E2D0;
                    color: gray;
                    margin-top: 15px;
                    @media screen and (min-width: 992px) {
                    }
                }
                &__ul {
                    cursor: pointer;
                    padding: 0;
                    @media screen and (min-width: 992px) {
                    }
                    > li >* {
                        font-size: 1.7em;
                        margin: 10px 0;
                        line-height: 1.5em;
                    }
                    > li {
                        background: #ffffff;
                        border-radius: 20px;
                        position: relative;
                        margin-bottom: 30px;
                        overflow: hidden;
                        @media screen and (min-width: 992px) {
                            padding-right: 35px;
                        }
                        > h2 {
                            position: relative;
                            left: 15px;
                            top: 20px;
                            @media screen and (min-width: 992px) {
                                font-size: 1.3em;
                                line-height: 1em;
                                top: 10px;
                            }
                        }
                        > p {
                            color: grey;
                            @media screen and (min-width: 992px) {
                                margin: 0;
                            }
                            > span {
                                display: inline-block;
                                width: 88%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                font-size: 25px;
                                transition: width 0.5s;
                                margin-left: 20px;
                                position: relative;
                                top: 15px;
                                @media screen and (min-width: 992px) {
                                    font-size: 0.55em;
                                    font-weight: bold;
                                    width: 89%;
                                    top: 5px;
                                }
                            }
                            > b {
                                position: relative;
                                bottom: 5px;
                                color: #000;
                                font-size: 0.7em;
                                @media screen and (min-width: 992px) {
                                    position: absolute;
                                }
                            }
                        }
                        &::before {
                            content: "";
                            width: 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            background: #99f2d0;
                            transition: width 0.4s;
                            border-radius: 0 20px 20px 0;
                        }
                        &::after {
                            position: absolute;
                            right: -10%;
                            top: calc(40% - 0.1em);
                            transform: rotate(0deg);
                            background: white;
                            color: #99f2d0;
                            border-radius: 50px;
                            padding: 0.4em;
                            font-family: "Font Awesome 5 Pro";
                            content: "\f00c";
                            transition: right 0.4s, transform 0.8s;
                            @media screen and (min-width: 992px) {
                                right: -8%;
                            }
                        }
                        &:hover {
                            &::before {
                                width: 20%;
                            }
                            &::after {
                                right: 7%;
                                transform: rotate(360deg);
                            }
                            > p {
                                > span {
                                    width: 70%;
                                }
                            }
                        }
                    }
                }
        }
        > button {
            border-radius: 60px;
            padding: 25PX 80PX;
            margin: 55px AUTO 30px;
            display: block;
            color: white;
            background: linear-gradient(to top, #9356DC, #FF79DA);
            font-size: 1.8em;
            border: none;
            cursor: pointer;
            @media screen and (min-width: 992px) {
                position: absolute;
                bottom: 0;
                margin: 135px 14.3em;
            }
            @media screen and (min-width: 768px) and (max-width: 992px) {
            }
        }
    }

    /* FOOTER */

    .footerMenu {
        background: #000;
        @media screen and (min-width: 992px) {
        }
        > h2 {
            font-family: "Shrikhand", sans-serif;
            font-size: 2em;
            font-weight: lighter;
            color: #ffffff;
            padding-left: 25px;
            position: relative;
            top: 35px;
        }
        > ul {
            padding-bottom: 25px;
            margin-top: 50px;
            margin-left: -15px;
            > li {
                font-size: 0.9em;
                line-height: 0.5;
                > a {
                    color: #ffffff;
                    > p.utensils {
                        margin: 10px 0;
                        ;
                        > i {
                            margin-right: 20px;
                        }
                    }
                    > p.hands {
                        margin: 10px 0;
                        > i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}
